.add-category__container {
    padding: 0;
}

.add-category__form {
    background: #f8f8f8;
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 350px;
    padding: 15px 25px;
}

.add-category__title {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
}
