.add-transaction__container {
    padding: 0;
}

.add-transaction__form {
    background: #f8f8f8;
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 350px;
    padding: 15px 25px;
}

.add-transaction__title {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 10px 0;
}

